* {
    font-family: 'Libre Baskerville', serif;
  }
  
  /*Aca esl body en general*/

  body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(100px) brightness(100%) saturate(150%);
    background-image: url(img/34255-espacio.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
  }
/*  contenedor en general*/

   .container {
    width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    border-radius: 20px;
  }

  /*Aca el primer cuadrado de titulo y reseña*/

.div_titulo{

    text-align: center;
    font-size: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(100px) brightness(100%) saturate(150%);
    background-color: #F7D66A;
    width: 100%;
    color:black ;
    margin-top: 0;
    border-radius: 20px;
    margin-bottom: 20px;
    
    }

  h1{
    -webkit-text-stroke: 1px rgb(88, 88, 88);
    font-size: 80px;
    animation: animacion 2s ease-in-out infinite;
    text-shadow: rgba(226, 40, 40, 0.4) -5px 5px, rgba(226, 40, 40, 0.4) -10px 10px, rgba(226, 40, 40, 0.4) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(226, 40, 40, 0.4) -25px 25px;
  }

  @keyframes animacion {
    0% { color: #220524; }
    15% { color: #733578; }
    25% { color: #B91BC4; }
    35% { color: #E923F7; }
    
    60% { color: #E923F7; }
    80% { color: #B91BC4; }
    90% { color: #733578; }
    100%{ color: #220524; }

  }

 .parrafo_titulo{
    text-align: center;
    justify-content: center;
    align-items: center;
   padding: 20px;
}

.div_titulo p {

    font-size: 18px;
    
}


/* Cuadro donde estan los botones y el buscador*/

header {

    background-color: #F7D66A;
    width: 100%;
    text-align: center;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 20px;
    

  }

  .buscador {
    
    align-items: center;
    display: flex;
  }
  
  header #inputBuscar {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    border-color: #d90429;
    font-size: 15px;
   
  }
  
    header #btnBuscar {
    min-width: 150px;
    height: 50px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: 2px solid #d90429;
    background: #d90429;
    font-size: 20px;
    border-radius: 10px;
  }

  header #btnBuscar:hover {
    background: #fff;
    color: #d90429
  }



.btn_mostrar{
    min-width: 150px;
    height: 50px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: 2px solid #d90429;
    background: #d90429;
    font-size: 20px;
    border-radius: 10px;
  }
  .btn_mostrar:hover {
    background: #fff;
    color: #d90429
  }

  .btn_favoritos{
    min-width: 150px;
    height: 50px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: 2px solid #d90429;
    background: #d90429;
    font-size: 20px;
    border-radius: 10px;
  }
  .btn_favoritos:hover {
    background: #fff;
    color: #d90429
  }

/*Aca empieza el main donde aparecen las peliculas*/


  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    
  }

  h2 {

    color: white;
    font-size: 30px;
  }
  
  #pelicula {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    width: 100%;
    margin: 0p auto;
    justify-content: center;
  }

 
.cuadro_pelicula img{ 
    
    width: 300px;
    border-radius: 20px;
    border: outset rgba(175, 255, 255, 0.17) 2px;
    box-shadow: rgba(175, 255, 255, 0.17) 0px -23px 25px 0px inset, rgba(175, 255, 255, 0.17) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(175, 255, 255, 0.17) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(175, 255, 255, 0.17) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(175, 255, 255, 0.17) 0px 32px 16px;
}



/*Ventana modal al hacer click en una pelicula*/


.ventana_modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: auto;
}




.contenido_ventanaModal {
  
  margin: 10% auto;
  
  border: 1px solid #888;
  
  max-width: 500px;
  border-radius: 20px;
  background-color: #1f021c;
  color: white;
  box-shadow: rgba(255, 255, 255, 0.56) 0px 22px 70px 4px;
  font-size: 18px;
  
  
}
.contenido_ventanaModal h3 {
    text-align: center;
    text-decoration: underline
}
.contenido_ventanaModal h3 p {
    font-size: 16px;
}

.img_modal {
    align-items: center;
    display: flex;
    justify-content: center;
}

#imagen_ventanaModal{

    border-radius: 20px;
    
    
   
    
}
.text_modal{
    padding: 20px;
}

#corazon_favorito{

    font-size: 40px;
    cursor: pointer;
    float:left ;
}
.top_modal{
    padding:20px ;
}
#corazon_favorito:hover,
#corazon_favorito:focus{
    cursor: pointer;
    color: red;
    border: 1px black;
    transform: scale(1.5)
}


.close {
  color: rgb(128, 128, 128);
  float: right;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover{
    color: rgb(192, 0, 0);
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.5)
}
.close:focus {
  color: rgb(192, 0, 0);
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.5)
}

.tachito {
    color: rgb(128, 128, 128);
    float: right;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;


}

.tachito:hover,
.tachito:focus{

    color: rgb(192, 0, 0);
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.5)
}
/*Footer de pagina*/
  
footer{
    color: white;
    font-size: 26px;
}



@media (max-width: 1280px) {
    /* Estilos para tamaño de pantalla de 1200px o menos */
    main {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  
    #pelicula {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media (max-width: 820px) {
    /* Estilos para tamaño de pantalla de 820px o menos */
    main {
      margin-top: 20px;
      margin-bottom: 20px;
      
    }

    header {

        width: 100%;

      }
  
  
    #pelicula {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
    }
  }
  .parrafo_titulo{
    width: 80%;
    margin: auto;
    
  }
  
  .div_titulo{
    width: 100%;font-size: 30px;
  }

  .div_titulo p{
    font-size: 20px;
  }


  .contenido_ventanaModal {
    padding: 5px;
    width: 40%;
  }
  .contenido_ventanaModal img {

    width: 60%;
  }
  
  @media (max-width: 450px) {
    /* Estilos para tamaño de pantalla de 450px o menos */


    
    main {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
    h1 {
        font-size: 40px;
      }
    
      .parrafo_titulo {
        
        font-size: 12px;
        padding: 5px;
        width: 70%;
        margin: auto;
        
        
      }

      .listFav{

        margin-left: 50px;
        width: 400px;
        margin-top: 25px;
        display: none;

      }
      ul{
        width: 100%;
      }
      
      .tachito{

        margin-right: 150px;
      }
    .container{

      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
      .div_titulo{
        text-align: center;
        width: 450px;
      }
      header {
        height: auto;
        padding: 18px;
        width: 100%;
      }
    
      header #inputBuscar {
        width: 200px;
        height: 25px;
        font-size: 18px;
      }
    
      header #btnBuscar {
        min-width: 150px;
        height: 40px;
        font-size: 18px;
        margin-left: 10px;
      }
    
  .buscador {
    
    align-items:flex-start ; 
    display: flex;
    margin-top: 15px;

  }
      .btn_mostrar,
      .btn_favoritos {
        min-width: 200px;
        height: 40px;
        font-size: 18px;
        margin-top: 20px;
      }
    
    #pelicula {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 35px;
      margin-top: 30px;
    }
  
    .cuadro_pelicula img {
      width: 80%;
    }
  
    .cuadro_pelicula{
      display: flex;
      align-items: center;
      justify-content: center;
    }



    header {
      flex-direction: column;
      height: auto;
      
    }
    .ventana_modal {
        height: 100%;
       width: 100%;
        
     
      }
    
      .contenido_ventanaModal {
        padding: 5px;
        width: 80%;
        margin-top: 150px;
      }
      .contenido_ventanaModal img {

        width: 60%;
      }
   
  }
  

  .listFav{
    display: none;
    
    justify-content: space-between;
  }
  li{
    color: white;
    font-size: 18px;
  }

  .li_style {

    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .li_item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
  }